body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i.foot {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;  
  padding: 0.5em 0.6em;

}
i.foot:hover{
  box-shadow: 0px 0px 2px #fff;  
}